// override Bootstrap styles here
:root {
  --bs-green: #89e872 !important;
  --bs-teal: #006b7d !important;
  --bs-orange: #ff7731 !important;
  --bs-yellow: #e6f03c !important;
  --bs-blue: #276ef1 !important;
  --bs-purple: #7e55fc !important;

  --bs-primary: var(--bs-teal) !important;
  --bs-secondary: var(--bs-green) !important;
  --bs-light: #e6e6d7 !important;
  --bs-white: #fefdfb !important;
  --bs-black: #141414 !important;

  --bs-border-radius: 0.25rem !important;
}

// Bootstrap imports
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue-next/src/styles/styles.scss';

// override Bootstrap components
@import './bootstrap/nav.scss';
@import './bootstrap/navbar.scss';
@import './bootstrap/forms.scss';

@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
