// override Bootstrap styles here
:root {
  --bs-green: #89e872 !important;
  --bs-teal: #006b7d !important;
  --bs-orange: #ff7731 !important;
  --bs-yellow: #e6f03c !important;
  --bs-blue: #276ef1 !important;
  --bs-purple: #7e55fc !important;

  --bs-primary: var(--bs-teal) !important;
  --bs-secondary: var(--bs-green) !important;
  --bs-light: #e6e6d7 !important;
  --bs-dark: #555 !important;
  --bs-white: #fefdfb !important;
  --bs-black: #141414 !important;

  --bs-success: #89e872 !important;
  --bs-info: #276ef1 !important;
  --bs-warning: #ff7731 !important;
  --bs-danger: #ff0000 !important;

  --bs-body-color: var(--bs-dark) !important;
  --bs-border-color: #ccc !important;
  --bs-body-bg: var(--bs-white) !important;

  --bs-primary-rgb: 0, 107, 125 !important;
  --bs-secondary-rgb: 137, 232, 114 !important;
  --bs-light-rgb: 230, 230, 215 !important;
  --bs-dark-rgb: 85, 85, 85 !important;
  --bs-white-rgb: 254, 253, 251 !important;
  --bs-black-rgb: 20, 20, 20 !important;
  --bs-body-color-rgb: 85, 85, 85 !important;
  --bs-body-bg-rgb: 254, 253, 251 !important;

  --bs-success-rgb: 137, 232, 114 !important;
  --bs-info-rgb: 39, 110, 241 !important;
  --bs-warning-rgb: 255, 119, 49 !important;
  --bs-danger-rgb: 255, 0, 0!important;
}

// Bootstrap imports
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue-next/src/styles/styles.scss';

// override Bootstrap components
@import './bootstrap/nav.scss';
@import './bootstrap/navbar.scss';
@import './bootstrap/forms.scss';

@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
