// override Bootstrap styles here
:root {
  --primary-color: var(--teal);
  --secondary-color: var(--green);
  --light-color: var(--beige);
  --lighter-color: #f3f3eb;

  --black: #141414;
  --white: #fefdfb;
  --white-tone: #fcfbf9;

  --green: #89e872;
  --teal: #006b7d;
  --beige: #e6e6d7;
  --orange: #ff7731;
  --yellow: #e6f03c;
  --blue: #276ef1;
  --purple: #7e55fc;
  --salmon: #ffb991;
}

// Bootstrap imports
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue-next/src/styles/styles.scss';

// override Bootstrap components
@import './bootstrap/nav.scss';

@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
